body{
	background: black;
	text-align: center;
}

div{
	border: 2px solid blue;
	border-radius: 15px;
	margin-left: 35%;
	margin-right: 35%;
	padding: 2%;
	width: 20%;
}

h1
{
	color: blue;
	font-family: verdana;
	font-size: 1em;

}

button:hover{
	color: blue;
	background-color: black;
	border: 3px solid blue;
}

button
{
	border: 2px solid blue;
	border-radius: 26px;
	text-align: center;
	padding: 15px 32px;
	background-color: blue;
	margin-top: 3px;
	width: 14rem;

	}

	input{
		border: 2px solid blue;
	border-radius: 26px;
	text-align: center;
	padding: 15px 32px;
	background-color: black;
	margin-top: 3px;
	width: 6rem;
	color: white;

	}