header

{
	    font-size: 2rem;
}

table
{

	  margin-left: 35%;
	  margin-right: 35%;
	  width: 30%;
	  border: 3px solid #00a5ff;
}
.ans

{
	font-size: 1.5rem;
	background: url("fond.jpg");

}
td
{
	text-align: center;
	background-color:  #00b5ff;
	border:1px solid #0000ff ;
}